.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  height: 30px;
  width: 30px;
}

.small {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.medium {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.large {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.place {
  margin: 1px;
  padding: 2px
}

.title {
  display: block;
  color: yellow;
  align-items: center;
  vertical-align: 50px;
}

.vehicleButton {
  display: flex;
}

.occupied{
  background-color: red;
  margin: 2px;
  padding: 10px;
  font-size: 8px;
  text-align: left;
  border: 2px solid black;
  width: 120px;
  height: 75px;
}

.free{
  background-color: green;
  color: green;
  margin: 2px;
  padding: 10px;
  font-size: 8px;
  text-align: left;
  border: 2px solid black;
  width: 120px;
  height: 75px;
}

.container{
  margin: 2px;
  padding: 10px;
  font-size: 8px;
  text-align: left;
  border: 2px solid black;
  width: 150px;
  height: 100px;
}

.parkSpace{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
