.container{
	margin: 2px;
	padding: 10px;
	font-size: 8px;
	text-align: left;
	border: 2px solid black;
	width: 150px;
	height: 100px;
}

.occupied{
	background-color: red;
}

.free{
	background-color: green;
}

.title{
	font-size: 10px;
	color: black;
}

.prop{
	font-size: 8px;
}